{% extends "base.html" %}

<!--头部-->
{% block title %} dp节点 {% endblock %}
<!-停留的样式-->

<!--layui-nav-itemed 为开关-->
{% block nav-item-2 %} layui-nav-itemed {% endblock %}

<!--layui-this 停留的背景颜色-->
{% block nav-this-2-1 %} layui-this  {% endblock %}


<!--内容-->
{% block content %}
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
{% endblock %}



<!--js代码-->
{% block js %}
    <script type="text/html" id="toolbarDemo">
        <!--增加一个输入框-->
        <input type="text" name="name" class="layui-input" style="width: 150px;height: 30px;float: left">
        <button class="layui-btn layui-btn-sm" style="float: left" id="searchBtn">搜索</button>
        <a href="{% url 'workload:deployments_create' %}" class="layui-btn layui-btn-sm" style="float: left">创建</a>
    </script>


    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="edit">YAML</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="details">详情</a>
        <a class="layui-btn layui-bg-green layui-btn-xs" lay-event="scale">扩容/缩容</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script>

        // 获取当前命名空间
        var storage = window.sessionStorage;
        var namespace = storage.getItem("namespace");

        layui.use('table', function () {
            var table = layui.table;
            var layer = layui.layer;
            var $ = layui.jquery;

            table.render({
                elem: '#demo'
                , url: '{% url "workload:deployments_api" %}?namespace=' + namespace      // 调用接口数据，并返回全局命名空间值
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    , layEvent: 'LAYTABLE_TIPS'
                    , icon: 'layui-icon-tips'
                }]
                , title: '数据表'
                , skin: 'line'         // 取消表格竖线
                , cols: [[
                    //{field: 'id', title: '序号', width: 80, fixed: 'left', type: 'numbers'},   // 序号排序，使用type：'numbers'
                    {field: 'name', title: '名称', width: 180, unresize: true, sort: true}
                    , {field: 'namespace', title: '命名空间', width: 120}
                    , {field: 'replicas', title: '预期副本数', width: 100}
                    , {field: 'available_replicas', title: '可用副本数', width: 100}
                    , {field: 'labels', title: '标签', templet: labelsFormat}
                    , {field: 'selector', title: 'Pod标签选择器', templet: selecotrFormat}
                    , {field: 'containers', title: '容器', templet: containersFormat}
                    , {field: 'create_time', title: '创建时间'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 250}
                ]]
                , page: true      // 设置分页
                , id: "dp"      // 设置表格重载， 这里使用必须是id："值"
            });

            // 标签格式化，是一个对象
            function labelsFormat(d) {
                result = "";
                if (d.labels == null) {
                    return "None"
                } else {
                    for (let key in d.labels) {
                        result += '<span style="border: 1px solid #d6e5ec;border-radius: 8px">' +
                            key + ':' + d.labels[key] +
                            '</span><br>'
                    }
                    return result
                }
            }

            function selecotrFormat(d) {
                result = "";
                for (let key in d.selector) {
                    result += '<span style="border: 1px solid #d6e5ec;border-radius: 8px">' +
                        key + ':' + d.selector[key] +
                        '</span><br>'
                }
                return result
            }

            function containersFormat(d) {
                result = "";

                // 使用if判断值是否返回为空，为空重新填写数据，否则就返回正常值
                if (d.containers == null) {
                    return "None"
                } else {
                    for (let key in d.containers) {
                        result += key + '=' + d.containers[key] + '<br>'
                    }
                    return result
                }

            }

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    console.log(data)
                    layer.confirm('是否确定删除' + data["name"] + "这个命令空间吗", function (index) {
                        csrf_token = $('[name=csrfmiddlewaretoken]').val();

                        $.ajax({
                            type: "DELETE",
                            url: "{% url "workload:deployments_api" %}",
                            data: data,
                            headers: {"X-CSRFToken": csrf_token},
                            success: function (res) {
                                if (res.code == 0) {
                                    layer.msg(res.msg, {icon: 6});
                                    obj.del()  // 页面删除
                                } else {
                                    layer.msg(res.msg, {icon: 5})
                                }
                            },
                            error: function () {

                            },
                        });
                    });
                    // 启动编辑查看功能，yaml配置文件
                } else if (obj.event === 'edit') {
                    layer.open({
                        title: 'YAML',
                        type: 2,
                        area: ['60%', '60%'],
                        content: "{% url 'ace_editor' %}?resource=deployments&" + 'namespace=' + data['namespace'] + '&name=' + data['name'],
                    });
                } else if (obj.event === 'details') {
                    window.location.href = "{% url "workload:deployments_details" %}?namespace=" + data["namespace"] + "&name=" + data["name"]

                } else if (obj.event === 'scale') {
                    // 编写扩容/缩容接口对接，使用PUT功能提交
                    layer.prompt({
                        formType: 0
                        , title: "扩容/缩容"
                        , value: data.replicas   // 默认值，从当前字段获取
                    }, function (value, index) {
                        csrf_token = $('[name="csrfmiddlewaretoken"]').val();
                        data['replicas'] = value;  // value是表单输入的值，重置值
                        $.ajax({
                            url: '{% url "workload:deployments_api" %}',
                            type: "PUT",
                            data: data,
                            headers: {"X-CSRFToken": csrf_token},
                            success: function (res) {
                                if (res.code == '0') {
                                    layer.msg(res.msg, {icon: 6}); //2秒关闭（如果不配置，默认是3秒）
                                    // 更新当前页面字段值
                                    obj.update({
                                        replicas: value
                                    })
                                } else {
                                    layer.msg(res.msg, {icon: 5})
                                }
                            }
                        });
                        layer.close(index);  // 关闭弹窗
                    });
                }
            });

            // 搜索功能
            $(document).on('click', '#searchBtn', function () {
                // 获取搜索的值
                var input_val = $('input[name=name]').val();

                // 判断用户是点击搜索按钮是否有值，没有就刷新当前页面，获取所有，否则就返回后端接口，刷新
                if (input_val == "" || input_val == null || input_val == undefined) { // "",null,undefined
                    console.log("为空")
                    window.parent.location.reload()
                } else {
                    table.reload('dp', {
                        where: { //设定异步数据接口的额外参数，任意设
                            // 要传回的key
                            searchkey: input_val
                        }
                        , page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    }); //只重载数据
                }

            });


        });

    </script>


{% endblock %}